In [1]:
import pandas as pd
import numpy as np
import zipfile
import os
from datetime import datetime
import pickle

In [2]:
with zipfile.ZipFile("data.zip", "r") as z:
    with z.open("Crime_Data_from_2020_to_Present.csv") as csv_file:
        data = pd.read_csv(csv_file)

data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [3]:
data["Date Rptd"] = data["Date Rptd"].str.replace(" 12:00:00 AM", "")
data["DATE OCC"] = data["DATE OCC"].str.replace(" 12:00:00 AM", "")
data["Date Rptd"] = pd.to_datetime(data["Date Rptd"], format = '%m/%d/%Y')
data["DATE OCC"] = pd.to_datetime(data["DATE OCC"], format = '%m/%d/%Y')

In [4]:
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,2020-01-08,2020-01-08,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,2020-01-02,2020-01-01,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,2020-04-14,2020-02-13,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,2020-01-01,2020-01-01,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,2020-01-01,2020-01-01,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [5]:
df = data.set_index("DATE OCC").sort_index()
df.head()

,DR_NO,Date Rptd,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
DATE OCC,,,,,,,,,,,,,,,,,,,,,
2020-01-01,200300501,2020-01-01,930,3,Southwest,392,2,624,BATTERY - SIMPLE ASSAULT,0330 0342 0344 0913 1309 0354 1822 0416 0429 0417,...,IC,Invest Cont,624.0,NaN,NaN,NaN,2400 W 48TH ST,NaN,34.0001,-118.3192
2020-01-01,200113272,2020-06-11,1,1,Central,152,1,820,ORAL COPULATION,1218 1822 0507 1268 2033,...,IC,Invest Cont,820.0,NaN,NaN,NaN,500 S OLIVE ST,NaN,34.0495,-118.2529
2020-01-01,200807173,2020-03-10,1900,8,West LA,811,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",1822 1202 0344 0346,...,IC,Invest Cont,341.0,NaN,NaN,NaN,500 LUCERO AV,NaN,34.0458,-118.5540
2020-01-01,201404035,2020-01-01,730,14,Pacific,1406,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000,...,IC,Invest Cont,626.0,NaN,NaN,NaN,3700 MENTONE AV,NaN,34.0222,-118.4068
2020-01-01,211905178,2021-02-02,1159,19,Mission,1977,2,354,THEFT OF IDENTITY,0377 1822,...,IC,Invest Cont,354.0,NaN,NaN,NaN,9000 GREENBUSH AV,NaN,34.2333,-118.4331

In [6]:
df.isna().sum()

DR_NO                  0
Date Rptd              0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           112762
Vict Age               0
Vict Sex          107192
Vict Descent      107200
Premis Cd              9
Premis Desc          480
Weapon Used Cd    531448
Weapon Desc       531448
Status                 0
Status Desc            0
Crm Cd 1              10
Crm Cd 2          755765
Crm Cd 3          813869
Crm Cd 4          815823
LOCATION               0
Cross Street      685361
LAT                    0
LON                    0
dtype: int64

In [7]:
df = df.drop(axis = 1, columns=['Date Rptd',
                                'Part 1-2',
                                'Mocodes', 
                                'Weapon Used Cd', 
                                'Weapon Desc', 
                                'Crm Cd 1',
                                'Crm Cd 2', 
                                'Crm Cd 3', 
                                'Crm Cd 4', 
                                'Cross Street'])

In [8]:
df.isna().sum()

DR_NO                0
TIME OCC             0
AREA                 0
AREA NAME            0
Rpt Dist No          0
Crm Cd               0
Crm Cd Desc          0
Vict Age             0
Vict Sex        107192
Vict Descent    107200
Premis Cd            9
Premis Desc        480
Status               0
Status Desc          0
LOCATION             0
LAT                  0
LON                  0
dtype: int64

In [9]:
df['Premis Cd'].fillna(0, inplace = True)

In [10]:
df['Premis Desc'].fillna('UNKNOWN', inplace = True)

In [11]:
df['Vict Sex'].value_counts()

M    337050
F    300602
X     70947
H        90
-         1
Name: Vict Sex, dtype: int64

In [12]:
df['Vict Sex'].replace(to_replace=['H', '-'], 
                       value = 'X', inplace = True)
df['Vict Sex'].fillna('X', inplace= True)

In [13]:
df['Vict Age'].value_counts()

 0      201118
 30      18620
 35      18203
 31      17839
 29      17776
         ...
 97         61
-1          55
-2          13
-3           1
 120         1
Name: Vict Age, Length: 103, dtype: int64

In [14]:
df['Vict Age'] = np.where((df['Vict Age'] < 0), 0, df['Vict Age'])

In [15]:
df['Vict Age'].value_counts()

0      201187
30      18620
35      18203
31      17839
29      17776
        ...
96         84
95         76
98         64
97         61
120         1
Name: Vict Age, Length: 100, dtype: int64

In [16]:
df.isna().sum()

DR_NO                0
TIME OCC             0
AREA                 0
AREA NAME            0
Rpt Dist No          0
Crm Cd               0
Crm Cd Desc          0
Vict Age             0
Vict Sex             0
Vict Descent    107200
Premis Cd            0
Premis Desc          0
Status               0
Status Desc          0
LOCATION             0
LAT                  0
LON                  0
dtype: int64

In [17]:
df['Vict Descent'].value_counts()

H    250450
W    166398
B    116358
X     78397
O     64641
A     17863
K      4329
F      3391
C      3107
J      1135
V       835
I       771
Z       411
P       218
U       166
D        60
G        56
L        49
S        45
-         2
Name: Vict Descent, dtype: int64

In [18]:
df['Vict Descent'].replace(to_replace = ['-'], 
                           value = 'X', inplace = True)

In [19]:
df['Vict Descent'].fillna('X', inplace = True)

In [20]:
df['Vict Descent'].value_counts()

H    250450
X    185599
W    166398
B    116358
O     64641
A     17863
K      4329
F      3391
C      3107
J      1135
V       835
I       771
Z       411
P       218
U       166
D        60
G        56
L        49
S        45
Name: Vict Descent, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 815882 entries, 2020-01-01 to 2023-10-09
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         815882 non-null  int64
 1   TIME OCC      815882 non-null  int64
 2   AREA          815882 non-null  int64
 3   AREA NAME     815882 non-null  object
 4   Rpt Dist No   815882 non-null  int64
 5   Crm Cd        815882 non-null  int64
 6   Crm Cd Desc   815882 non-null  object
 7   Vict Age      815882 non-null  int64
 8   Vict Sex      815882 non-null  object
 9   Vict Descent  815882 non-null  object
 10  Premis Cd     815882 non-null  float64
 11  Premis Desc   815882 non-null  object
 12  Status        815882 non-null  object
 13  Status Desc   815882 non-null  object
 14  LOCATION      815882 non-null  object
 15  LAT           815882 non-null  float64
 16  LON           815882 non-null  float64
dtypes: float64(3), int64(6), object(8)
memory usage: 112.0+ MB

In [22]:
df.isna().sum()

DR_NO           0
TIME OCC        0
AREA            0
AREA NAME       0
Rpt Dist No     0
Crm Cd          0
Crm Cd Desc     0
Vict Age        0
Vict Sex        0
Vict Descent    0
Premis Cd       0
Premis Desc     0
Status          0
Status Desc     0
LOCATION        0
LAT             0
LON             0
dtype: int64

In [23]:
df

,DR_NO,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,LOCATION,LAT,LON
DATE OCC,,,,,,,,,,,,,,,,,
2020-01-01,200300501,930,3,Southwest,392,624,BATTERY - SIMPLE ASSAULT,29,F,B,101.0,STREET,IC,Invest Cont,2400 W 48TH ST,34.0001,-118.3192
2020-01-01,200113272,1,1,Central,152,820,ORAL COPULATION,53,F,W,109.0,PARK/PLAYGROUND,IC,Invest Cont,500 S OLIVE ST,34.0495,-118.2529
2020-01-01,200807173,1900,8,West LA,811,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",67,M,W,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,500 LUCERO AV,34.0458,-118.5540
2020-01-01,201404035,730,14,Pacific,1406,626,INTIMATE PARTNER - SIMPLE ASSAULT,0,M,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,3700 MENTONE AV,34.0222,-118.4068
2020-01-01,211905178,1159,19,Mission,1977,354,THEFT OF IDENTITY,36,M,W,101.0,STREET,IC,Invest Cont,9000 GREENBUSH AV,34.2333,-118.4331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-09,231318602,530,13,Newton,1344,510,VEHICLE - STOLEN,0,X,X,101.0,STREET,IC,Invest Cont,4100 AVALON BL,0.0000,0.0000
2023-10-09,231318646,1645,13,Newton,1343,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,600 E MARTIN LUTHER KING JR BL,0.0000,0.0000
2023-10-09,232115036,1130,21,Topanga,2158,330,BURGLARY FROM VEHICLE,0,X,X,108.0,PARKING LOT,IC,Invest Cont,6300 VARIEL AV,0.0000,0.0000
2023-10-09,230616268,700,6,Hollywood,679,510,VEHICLE - STOLEN,0,X,X,707.0,GARAGE/CARPORT,IC,Invest Cont,5000 ROMAINE ST,0.0000,0.0000
2023-10-09,231817618,22,18,Southeast,1821,210,ROBBERY,0,X,X,102.0,SIDEWALK,IC,Invest Cont,FIGUEROA,0.0000,0.0000

In [24]:
df.to_pickle("cleaned_df.pkl")